@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
    --cor-primaria-escuro: #38302e;
    --cor-secundaria-escuro: #6f6866;
    --cor-terciaria-escuro: #ccdad1;
    --cor-primaria-claro: #E2DFD0;
    --cor-secundaria-claro: #948979;
    --cor-terciaria-claro: #38302e;
    --fonte-principal: "Concert One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

@keyframes flip {
    0% {
        transform: perspective(200px) rotateY(0deg);
    }
    49.99999% {
        transform: perspective(200px) rotateY(90deg);
    }
    
    50% {
        transform: perspective(200px) rotateY(-90deg);
    }
    
    50.00001% {
    }
    
    100% {
        transform: perspective(200px) rotateY(0deg);
    }
}

@keyframes rownope {
    10%  { transform: translateX(-14px); }
    20%  { transform: translateX(14px); }
    30%  { transform: translateX(-8px); }
    40%  { transform: translateX(8px); }
    50%  { transform: translateX(-4px); }
    60%  { transform: translateX(4px); }
    70%  { transform: translateX(-2px); }
    80%  { transform: translateX(2px); }
    90%  { transform: translateX(-1px); }
    100% { transform: translateX(1px); }
  }
  

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:var(--fonte-principal);
}

body {
    background-color: var(--cor-primaria-escuro);
    transition: background 0.2s linear;
}

body.light {
    background: var(--cor-primaria-claro);
}

.words {
    display: flex;
    justify-content: center;
    gap: 0.4em;
    margin: 0.4em;
}

input {
    width: 90px;
    height: 90px;
    text-align: center;
    font-size: 5em;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--cor-secundaria-escuro);
    color: var(--cor-terciaria-escuro);
    background-color : var(--cor-primaria-escuro); 
    outline: none;
    caret-color: transparent;
    cursor: pointer;
}

input[disabled] {
    color: #333;
    background-color: var(--cor-secundaria-escuro); 
    cursor: not-allowed; 
    animation: 0.45s linear flip 0s forwards;
  }

input:focus {
    border-bottom: 0.18em solid var(--cor-secundaria-escuro) !important;
}

.errado {
    animation: 0.45s linear rownope 0s forwards;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em 0 4em 0;
}

.cabecalho__menu {
    color: var(--cor-terciaria-escuro);
}

.cabecalho__menu.light {
    color: var(--cor-terciaria-claro);
}

.cabecalho__menu__link {
    margin-right: 20px;
    font-size: 20px;
}

.titulo {
    margin-right: 12.5%;
    color: var(--cor-terciaria-escuro);
}

.titulo.light {
    color: var(--cor-terciaria-claro);
}

#formulario {
    min-height: 65vh;
}

.controles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    gap: 20px;
}

.informacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
}

.texto-tema, .texto-tentativas {
    color: var(--cor-terciaria-escuro);
}

.light .texto-tema, .light .texto-tentativas {
    color: var(--cor-terciaria-claro);
}

strong {
    color: rgb(0, 156, 10);
}

.prompt {
    width: 300px;
    height: 80%;
}

@media(max-width: 1145px) {

    .titulo {
        margin-right: 25.5%;
    }
}

@media(max-width: 658px) {

    .cabecalho {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0em 0 4em 0;
    }

    .titulo {
        margin-right: 12.5%;
        text-align: center;
    }

    .cabecalho__menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    input {
        width: 75px;
        height: 75px;
        font-size: 4em;
    }

    input:focus {
        border-bottom: 0.20em solid var(--cor-secundaria-escuro) !important;
    }
}
@media(max-width: 420px) {

    input {
        width: 60px;
        height: 60px;
        font-size: 3em;
    }

    input:focus {
        border-bottom: 0.23em solid var(--cor-secundaria-escuro) !important;
    }
}